<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head2.ejs') %>
    <link rel="stylesheet" href="/stylesheets/myAccount.css">
    <title>Shphone - Mi cuenta</title>

</head>

<body>

    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="column">
            <div class="col-12">
                <h2 class="my-3">Mis datos</h2>
            </div>
            <div class="card mb-3 outline" style="max-width: 80%;">
                <div class="row no-gutters outline">
                    <div class="col-md-4">
                        <img src="/images/<%= user.avatar %>" class="card-img" alt="Imagen de usuario">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title"><%= user.name %> <%= user.surname %></h4>
                            <h4 class="card-title letra-chica"><%= user.mail %></h4>
                            <a href="#" class="card-link estilo-compras">Mis compras</a>
                            <div class="action">
                                <form action="/users/myAccount/edit/<%= user.id %>" method="get">
                                    <button type="submit" class="btn btn-sm my-3 btnSeba">Editar</button>
                                </form>
                                <form action="/users/myAccount/close" method="POST">
                                    <button type="submit" class="btn btn-sm my-3 btnSeba">Cerrar sesión</button>
                                </form>
                                <div class="action">
                                    <form action="/users/myAccount/<%= user.id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-outline-danger btn-sm ">Eliminar cuenta</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>


    <%- include('partials/footer.ejs') %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>