<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head2.ejs') %>
  <link rel="stylesheet" href="../stylesheets/nuevoProducto.css">
  <title>Nuevo producto</title>
</head>

<body>

  <%- include('partials/navbar.ejs') %>

  <div class="titulo mostrar">
    <h1 class="tituloLeo">Nuevo celular</h1> <i class="fas fa-hand-holding-usd fa-3x padding mostrar"></i> <i
      class="far fa-smile-wink  fa-3x padding"></i>
  </div>
  <main class="centrado conteirner-fluid">
    <div>
      <div class="subtitulos">
        <h2>Que equipo es?</h2> <i class="fas fa-mobile-alt fa-2x superalign mostrar"></i>
      </div>
      <div class="mt-2 ml-5">
        <% if (typeof errors != 'undefined') {%>
        <p style="color:red">Debes corregir los siguientes errores:</p>
        <ul>
            <% for(let i=0; i<errors.length; i++) { %>
            <li style="color: red">
                <%= errors[i].msg %>
            </li>
            <%}%>
        </ul>
            <%}%>
    </div>
      <div class="padding padding2">
        <form action="/products/create" class="js-nombre form-group" method="POST">
          <label for="tituloProducto">
            <h3>Nombre del equipo</h3>
          </label>
          <input class="cajas form-control" type="text" name="name" id="">
          <div class="invalid-feedback">
            El campo debe tener mas de 4 caracteres
          </div>
      </div>
      <div class="padding padding2">
        <h3>Marca</h3>
        <select class="cajas" name="id_brands" id="">
          <% for (let i=0; i<brand.length; i++) {%>
            <option value="<%= brand[i].id %>"> <%= brand[i].name %> </option>
          <% } %>
        </select>
      </div>
      <div class="padding padding2">
        <label for="">
          <h3>Descripcion</h3>
        </label>
        <textarea name="description" class="cajas form-control js-descripcion" id="" cols="30" rows="5"></textarea>
        <div class="invalid-feedback">
          El campo debe tener mas de 20 caracteres
        </div>
      </div>
      <div class="padding padding2 ">
        <h3>Precio</h3>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">$</span>
              </div>
              <input name="price" type="number" class="form-control js-precio" id="validationCustomUsername"
                aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  El campo debe ser mayor a 10
                </div>
                <div class="form-group py-4">
                  <label for=""></label>Foto de producto</label>
                  <input type="file" class="form-control-file" name="avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="padding padding2 ">
        <div class="form-group">
        </div>
        <button class="btn btn-secondary btn-lg btnSeba js-guardar disabled" type="submit">Guardar</button>
      </div>
      </form>
    </div>
  </main>

  <%- include('partials/footer.ejs') %>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <script src="/js/validation.js">  </script>

</body>

</html>